.header{
  font-size: 1.5em;
  height: 6%;
  background-color: rgb(204, 11, 11);
  color: white;
}
.lContent{
  height: 90%;
  background-color: rgb(25, 27, 27);

}
.rContent{
  height: 90%;
  background-color: rgb(25, 27, 27);

}
.content{
  height: 90%;
  background-color: rgb(25, 27, 27);
}
.tContent{
  height: 5%;

}


.video-container {
  position: relative;
}

#play_button, #pause_button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#pause_button{
  display: none;
}
#video_player
{
    width:100%;
}
#player_controls
{

 background-color:black;
}
input[type="image"]
{
 float:left;
 height:20px;

}
img
{ 
 margin-left:15px;
 width:20px;
}

   
   #change_vol{
    width: 10vw;
  }
  #stop_button{
    margin-top: 1px;
    margin-left: 2px;
  }


  .video-description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .video-description h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .video-description p {
    margin-bottom: 0;
  }
  
  
 .hashtags {
  border-radius: 5px;
  padding: 2px;
  margin-top: 50em;
  gap: 20px;
}

.hashtags p {
  display: inline-block;
  margin: 3px;
  background-color: #cccccc;
  color: #000000;
  border-radius: 5px;
  font-size: 14px;
  padding: 6px;
  text-decoration: none;
  
}
.hashtags p:hover{
  color: red;
  cursor: pointer;
}